<!--The content below is only a placeholder and can be replaced.-->

<form (submit) = 'onSubmit()'>
  <input type = 'text' name = 'title' [(ngModel)] = 'newTask.title'>
  <input type = 'text' name = 'description' [(ngModel)] = 'newTask.description'>
  <input type = 'submit' value = 'Submit'>
</form>

<br>
<br>

<div class = 'taskList'>
  <div *ngFor = 'let task of allTasks'>
    <h3>{{task.title}}</h3>
    <h5>{{task.description}}</h5>
    <button (click) = 'show(task._id)'>Edit</button>
    <button (click) = "delete(task._id)" >Delete</button><br>
    <br>
    <br>
  </div>
</div>
<app-tasks></app-tasks>

<div id = 'editTask' *ngIf = 'currentTask.title != ""'>
  <input type = 'text' [(ngModel)] = 'currentTask.title'>
  <input type = 'text' [(ngModel)] = 'currentTask.description'>
  <button (click) = 'edit()'>Edit</button>
</div>





<router-outlet></router-outlet>
